html,
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}